.DS_Store
build/PronosticiCalcio/xref-PronosticiCalcio.html
build/PronosticiCalcio/warn-PronosticiCalcio.txt
build/PronosticiCalcio/PYZ-00.toc
build/PronosticiCalcio/PYZ-00.pyz
build/PronosticiCalcio/PronosticiCalcio.pkg
build/PronosticiCalcio/PKG-00.toc
build/PronosticiCalcio/localpycs/struct.pyc
build/PronosticiCalcio/localpycs/pyimod04_pywin32.pyc
build/PronosticiCalcio/localpycs/pyimod03_ctypes.pyc
build/PronosticiCalcio/localpycs/pyimod02_importers.pyc
build/PronosticiCalcio/localpycs/pyimod01_archive.pyc
build/PronosticiCalcio/EXE-00.toc
build/PronosticiCalcio/base_library.zip
build/PronosticiCalcio/Analysis-00.toc
backtest_output/backtest_report.txt
backtest_output/backtest_grafici.png
dist/PronosticiCalcio.exe
